@font-face {
    font-family: "HankenGrotesk";
    font-display: swap;
    font-weight: 500 700 800;
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
    }
    
    :root {
        --LightRed: hsl(0, 100%, 67%);
        --orangeYellow: hsl(256, 72%, 46%);
        --greenTeal: hsl(241, 81%, 54%);
        --cobaltBlue: hsl(241, 72%, 46%);
    
        --white: hsl(0, 0%, 100%);
        --paleBlue: hsl(221, 100%, 96%);
        --lightLavender: hsl(241, 100%, 89%);
        --darkGrayBlue: hsl(224, 30%, 27%);

        /*Gradients*/

        --lightSlateBlue: hsl(252, 100%, 67%);
        --lightRoyalBlue:  hsl(241, 81%, 54%);

        --VioletBlue: hsla(256, 72%, 46%, 1);
        --persianBlue: hsla(241, 72%, 46%, 0);

        --fuentePrincipal: "HankenGrotesk", sans-serif;
    
        --fw-regular: 500;
        --fw-bold: 700;
        --fw-black: 800;
    
        --fs-400: 1.125rem;
        --fs-500: 1.25rem;
        --fs-600: 1.5rem;
        --fs-700: 1.75rem;
        --fs-800: 2rem;
        --fs-900: 5rem;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: var(--fuentePrincipal);
        font-size: var(--fs-400);
        color: var(--clr-neutral-700);
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    .btn {
        background-color: var(--darkGrayBlue);
    }

/*main*/

.tus-resultados {
    background-image: linear-gradient(to bottom, var(--lightSlateBlue) 50%, var(--lightRoyalBlue) 100%);
}
.tus-resultados h1 {
    color: var(--lightLavender);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.tus-resultados__numero {
    background-image: linear-gradient(to bottom, var(--VioletBlue) 50%, var(--persianBlue) 100%);
    
}

.tus-resultados__span {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--white);
}

.tus-resultados__span2 {
    color: var(--lightLavender);
    opacity: 0.7 !important;
    font-weight: 600;
}

.info {
    color: var(--white);
}
.info__great {
    font-weight: 600;
}

/*Footer*/

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*media queries*/

    @media (min-width: 600px) {
        body {
        min-height: 100vh;
        display: grid;
        place-items: center;
        }
    }