@font-face {
    font-family: "HankenGrotesk";
    font-display: swap;
    font-weight: 500 700 800;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
    }
    
    :root {
        --LightRed: hsl(0, 100%, 67%);
        --LightRed-2: hsla(0, 100%, 67%, 0.103);
        --orangeYellow: hsl(39, 100%, 56%);
        --orangeYellow-2: hsla(39, 100%, 56%, 0.103);
        --greenTeal: hsl(166, 100%, 37%);
        --greenTeal-2: hsla(166, 100%, 37%, 0.103);
        --cobaltBlue: hsl(241, 72%, 46%);
        --cobaltBlue-2: hsla(241, 72%, 46%, 0.103);
    
        --white: hsl(0, 0%, 100%);
        --paleBlue: hsl(221, 100%, 96%);
        --lightLavender: hsl(241, 100%, 89%);
        --darkGrayBlue: hsl(224, 30%, 27%);

        /*Gradients*/

        --lightSlateBlue: hsl(252, 100%, 67%);
        --lightRoyalBlue:  hsl(241, 81%, 54%);

        --VioletBlue: hsla(256, 72%, 46%, 1);
        --persianBlue: hsla(241, 72%, 46%, 0);

        --fuentePrincipal: "HankenGrotesk", sans-serif;
    
        --fw-regular: 500;
        --fw-bold: 700;
        --fw-black: 800;
    
        --fs-400: 1.125rem;
        --fs-500: 1.25rem;
        --fs-600: 1.5rem;
        --fs-700: 1.75rem;
        --fs-800: 2rem;
        --fs-900: 5rem;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: var(--fuentePrincipal);
        font-size: 1.8rem;
        color: var(--clr-neutral-700);
        width: 100%;
        line-height: 1.5;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    .btn {
        background-color: var(--darkGrayBlue);
        border-radius: 100vw;
        font-size: 1.6rem;
        margin: 1rem 0;
    }

/*main*/


.tus-resultados {
    background-image: linear-gradient(35deg, var(--lightRoyalBlue) 5%, var(--lightSlateBlue) 95%);
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    padding: 3rem 4rem 4rem 4rem;
}
.tus-resultados h1 {
    color: var(--lightLavender);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2.8rem;
}
.tus-resultados__numero {
    background-image: linear-gradient(to bottom, var(--VioletBlue) 50%, var(--persianBlue) 100%);
    padding: 3.8rem;
}

.tus-resultados__span {
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}

.tus-resultados__span2 {
    color: var(--lightLavender);
    opacity: 0.7 !important;
    font-size: 1.5rem;
    font-weight: 600;
}

.info {
    color: var(--white);
}
.info__great {
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: 2rem;
}
.info__parrafo {
    text-align: center;
    margin: 0 auto;
    color: var(--lightLavender);
    font-size: 1.7rem;
    
}

/*sumary*/
.contenedor-sumary {
    margin: 2rem 0;
    width: 85%;
}
.sumary-principalh1 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.sumary {
    border-style: none;
    padding: 1.5rem;
    border-radius: 8%;
    margin-bottom: 1.5rem;
}
.sumary:nth-child(2) {
    color: var(--LightRed);
    background-color: var(--LightRed-2);
}
.sumary:nth-child(3) {
    color: var(--orangeYellow);
    background-color: var(--orangeYellow-2);
}
.sumary:nth-child(4) {
    color: var(--greenTeal);
    background-color: var(--greenTeal-2);
}
.sumary:nth-child(5) {
    color: var(--cobaltBlue);
    background-color: var(--cobaltBlue-2);
}

.sumary__titulo,
.sumary__numero {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.5rem;
}
.sumary__imagen {
    height: 2.2rem;
}
.sumary__span {
    color: #000;
}
.sumary__span-barra,
.sumary__span-numero {
    color: grey;
    opacity: 0.5;
}

/*Footer*/

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*media queries*/

@media (min-width: 768px) {
    body {
    min-height: 100vh;
    display: grid;
    align-items: flex-end;
    background-color: #e1e1e1;
    }

    .contenedor__principal {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        max-width: 40%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5% !important;
        height: 46rem;
        min-width: 60rem;
        background-color: var(--white);
    }

    .tus-resultados {
        border-radius: 6% !important;
        height: 46rem;
        padding: 4rem 4rem;
        text-align: center;
        justify-content: center !important;
    }
    
    
    .contenedor-sumary {
        width: 100%;
        border-top-right-radius:5% !important ;
        border-bottom-right-radius:5% !important ;
        background-color: var(--white);
        padding: 0 3rem;
    }
}